<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online Notice Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/glyphicons.css' /> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">
  </head>
  <body id='page-top'>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold mx-1 pl-lg-5 pl-md-5" href="#page-top">Online Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#page-top"><i class="fad fa-home mr-1"></i>Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fad fa-info-circle mr-1"></i>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fad fa-id-badge mr-1"></i>Contact</a>
            </li> -->
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-5 pr-5">              
              <a class="nav-link dropdown-toggle text-lowercase" id="navbardrop" data-toggle="dropdown"><i class="fad fa-user-circle mr-1"></i><%= admin.username %></a>
              <div class="dropdown-menu bg-dark border-0">
                <a class="dropdown-item bg-dark text-white" href="/dashboard"><i class="fad fa-envelope mr-1"></i>Dashboard</a>
                <a class="dropdown-item bg-dark text-white" href="/postnotice"><i class="fad fa-paper-plane mr-1"></i>Post Notice</a>
                <a class="dropdown-item bg-dark text-white" href="/adminprofile"><i class="fad fa-user mr-1"></i>Profile</a>
                <a class="dropdown-item active bg-dark text-white" href="/changeadminpassword"><i class="fad fa-key mr-1"></i>Change Password<span class="sr-only">(current)</span></a>
                <a class="dropdown-item bg-dark text-white" href="/adminlogout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container-fluid mt-5 pt-4" ng-app="changePasswordApp" ng-controller="changeAdminPasswordController" ng-init="revealPwd = true; revealrePwd = true">
      <div class="container col-md-8">
        <div class="card">
          <h2 class="card-header h3 text-center font-weight-bold">Change Password</h2>
          <div class="card-body shadow-lg m-1 p-3 rounded border">
            <form class="needs-validation form-group" novalidate>
              <div class="form-group">
                <label class="control-label" for="pswd">Password :</label>
                <div class="input-group border rounded">
                  <input type="password" class="form-control pwd border-0"  id="pswd" placeholder="Enter password" required required ng-model="change.password" minlength="8">
                  <span class="input-group-btn">
                    <a class="revealpwd btn btn-white" type="button" ng-show="revealPwd" ng-click="revealPwd = false"><i class="far fa-eye"></i></a>
                    <a class="revealpwd btn btn-white" type="button" ng-hide="revealPwd"  ng-click="revealPwd = true"><i class="far fa-eye-slash"></i></a>
                  </span> 
                </div> 
              </div>
              <div class="form-group">
                <label class="control-label" for="repswd">Retype Password :</label>
                <div class="input-group border rounded">
                  <input type="password" class="form-control repwd border-0"  id="repswd" placeholder="Retype password" required required ng-model="change.retypepassword" minlength="8">
                  <span class="input-group-btn">
                    <a class="revealRePwd btn btn-white" type="button" ng-show="revealrePwd" ng-click="revealrePwd = false"><i class="far fa-eye"></i></a>
                    <a class="revealRePwd btn btn-white" type="button" ng-hide="revealrePwd"  ng-click="revealrePwd = true"><i class="far fa-eye-slash"></i></a>
                  </span> 
                </div> 
              </div>
              <div class="form-group mb-n2">
                <button type="submit" class="btn btn-primary w-100 font-weight-bold" required ng-click="changeadminpassword(change)">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 bg-dark">
      <div class="container text-center text-white">
        <p>Designed by <span class="myName">Prasad Medisetti</span></p>
        <p>Copyright <i class="fad fa-copyright"></i> 2020</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();

      $(".revealpwd").on('click',function() {
          var $pwd = $(".pwd");
          if ($pwd.attr('type') === 'password') {
              $pwd.attr('type', 'text');
          } else {
              $pwd.attr('type', 'password');
          }
      });

      $(".revealRePwd").on('click',function() {
          var $pwd = $(".repwd");
          if ($pwd.attr('type') === 'password') {
              $pwd.attr('type', 'text');
          } else {
              $pwd.attr('type', 'password');
          }
      });
    </script>

    <script>
      var app = angular.module('changePasswordApp', []);

      /* Controller for Admin changePassword */
      app.controller('changeAdminPasswordController', function($scope, $http, $window) {

        $scope.changeadminpassword = function(change){
          
          $http({
              method : 'PUT',
              url : '/changeadminpwd',
              data : $scope.change
          })
          .then(function success(response) {
            alert(response.data);
            $scope.change = {};
          }, function error(response) {
            alert('Error Occured, Please try again...!');
            $scope.change = {};
          })

        }

      });
    </script>

  </body>
</html>    