<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online Notice Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/glyphicons.css"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">

  </head>
  <body id="page-top"">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold mx-1 pl-lg-5 pl-md-5" href="#page-top">Online Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#page-top"><i class="fad fa-home mr-1"></i>Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fad fa-info-circle mr-1"></i>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fad fa-id-badge mr-1"></i>Contact</a>
            </li> -->
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-5 pr-5">              
              <a class="nav-link dropdown-toggle text-lowercase" id="navbardrop" data-toggle="dropdown"><i class="fad fa-user-circle mr-1"></i><%= admin.username %></a>
              <div class="dropdown-menu bg-dark border-0">
                <a class="dropdown-item bg-dark text-white" href="/dashboard"><i class="fad fa-envelope mr-1"></i>Dashboard</a>
                <a class="dropdown-item active bg-dark text-white" href="/postnotice"><i class="fad fa-paper-plane mr-1"></i>Post Notice<span class="sr-only">(current)</span></a>
                <a class="dropdown-item bg-dark text-white" href="/adminprofile"><i class="fad fa-user mr-1"></i>Profile</a>
                <a class="dropdown-item bg-dark text-white" href="/changeadminpassword"><i class="fad fa-key mr-1"></i>Change Password</a>
                <a class="dropdown-item bg-dark text-white" href="/adminlogout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container-fluid my-5 py-4" ng-app="postNoticeApp" ng-controller="postNoticeController" ng-init="revealPwd = true; revealrePwd = true">
      <div class="container col-md-8">
        <div class="card">
          <h2 class="card-header h3 text-center font-weight-bold"><i class="fad fa-plus-circle mr-1"></i>New Notice</h2>
          <div class="card-body shadow-lg m-1 p-3 rounded border">
            <form class="needs-validation form-group" novalidate>
              <div class="form-group">
                <label class="control-label" for="title" class="form-label">Title :</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title" required ng-model="notice.title">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label class="control-label" for="subject" class="form-label">Subject :</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter subject" required ng-model="notice.subject">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label class="control-label" for="description" class="form-label">Description :</label>
                <textarea class="form-control" id="description" cols="30" rows="5" placeholder="Enter description" required ng-model="notice.description"></textarea>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <!-- <div class="form-group">
                <div class="custom-file">
                  <input required type="file" class="custom-file-input required" accept="image/*" id="customFile" ng-modal="profileImg" ng-disabled="editProfileImg">
                  <label class="custom-file-label" for="customFile">Choose an Image</label>
                </div>
              </div> -->
              <div class="form-group mb-n2">
                <button type="submit" class="btn btn-primary w-100 font-weight-bold" required ng-click="postnotice(notice)"><i class="fad fa-paper-plane mr-1"></i>Post Notice</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 bg-dark">
      <div class="container text-center text-white">
        <p>Designed by <span class="myName">Prasad Medisetti</span></p>
        <p>Copyright <i class="fad fa-copyright"></i> 2020</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

    <script>
      var app = angular.module('postNoticeApp', []);
      app.controller('postNoticeController', function($scope, $http) {

        $scope.postnotice = function(post) {
          $http({
            method:'POST',
            url: '/postnotice',
            data: $scope.notice
          }).then(function success(response) {
            alert('Posted Successfully...');
            $scope.notice = {};
            // $window.location.href = '/dashboard';
            // console.log()
          }, function error(response) {
            alert('Something went wrong, Please try again...');
          });
        }
      
      });
    </script>
  </body>
</html>
