<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online Notice Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/glyphicons.css' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body id='page-top'>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold" href="/">Online Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin"><span class="mr-1 glyphicon glyphicon-home"></span>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><span class="mr-1 glyphicon glyphicon-info-sign"></span>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><span class="mr-1 glyphicon glyphicon-phone-alt"></span>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container my-5">
      <h2 class="h2 text-center text-dark col mb-3 p-3 shadow border rounded-lg font-weight-bold">Welcome to Admin Login</h2>
      <div class="container  col-md-6">
        <div class="card">
          <span class="card-header text-center font-weight-bold"><span class="glyphicon glyphicon-user"></span> Admin</span>
          <div class="card-body shadow-lg m-1 p-3 rounded border">
            <form class="needs-validation form-group" novalidate>
              <div class="form-group">
                <label class="control-label" for="mail" class="form-label">Email :</label>
                <input type="email" class="form-control" id="mail" placeholder="Enter email" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label class="control-label" for="pwd">Password :</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <button type="submit" class="btn btn-primary w-100 font-weight-bold" onclick="window.location.href='/admindashboard'">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 bg-dark">
      <div class="container text-center text-white">
        <p>Designed by <span class="myName">Prasad Medisetti</span></p>
        <p>Copyright © 2020</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
  </body>
</html>    