<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online Notice Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/glyphicons.css"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">

  </head>
  <body id="page-top"">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand font-weight-bold mx-1 pl-lg-5 pl-md-5" href="#page-top">Online Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto pr-3">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#page-top"><i class="fad fa-home mr-1"></i>Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fad fa-info-circle mr-1"></i>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fad fa-id-badge mr-1"></i>Contact</a>
            </li> -->
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-5 pr-5">              
              <a class="nav-link dropdown-toggle text-lowercase" id="navbardrop" data-toggle="dropdown"><i class="fad fa-user-circle mr-1"></i><%= user.username %></a>
              <div class="dropdown-menu bg-dark border-0">
                <a class="dropdown-item active bg-dark text-white" href="/home"><i class="fad fa-envelope mr-1"></i>Notifications<span class="sr-only">(current)</span></a>
                <a class="dropdown-item bg-dark text-white" href="/profile"><i class="fad fa-user mr-1"></i>Profile</a>
                <a class="dropdown-item bg-dark text-white" href="/changepassword"><i class="fad fa-key mr-1"></i>Change Password</a>
                <a class="dropdown-item bg-dark text-white" href="/logout"><i class="fad fa-sign-out mr-1"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

<!-- Begin page content -->
<main role="main" class="container-fluid mt-5 pt-5 mb-n5 pb-n4" ng-app="myApp" ng-controller="myController">
  <div class="container col-md-11">
    <div class="card">
      <h2 class="card-header h3 text-center font-weight-bold">Notifications</h2>
      <div class="card-body p-2">
        <div class="table-responsive shadow-lg">
          <table class="table table-bordered table-hover mb-n1">
            <thead class="text-center">
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Posted on</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="text-center" ng-repeat="notice in notices">
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ notice.subject }}</td>
                <td>{{ notice.postedOn }}</td>
                <td>
                  <!-- Button to Open the Modal -->
                  <a class="btn btn-light" data-toggle="modal" data-target="#myModal"><i class="far fa-info-circle"></i></a>
  
                  <!-- The Modal -->
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h1 class="modal-title" ng-bind="notice.title"></h1>
                          <button type="button" class="btn btn-outline-danger" class="close" data-dismiss="modal">×</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body text-justify">
                          <h3 ng-model="notice.subject"></h3>
                          <p class="lead" ng-bind="notice.description"></p>
                          <!-- <img src="/uploads/bg.jpg" class="img-responsive rounded w-100 h-100" alt=""> -->
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="py-5 bg-dark">
  <div class="container text-center text-white">
    <p>Designed by <span class="myName">Prasad Medisetti</span></p>
    <p>Copyright <i class="fad fa-copyright"></i> 2020</p>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<script>
  var app = angular.module('myApp', []);
  app.controller('myController', ['$scope', '$http', function($scope, $http) {


    $http({
      method : 'GET',
      url : '/getnotices'
    }).then(function success(response) {
      // console.log(response.data);
      $scope.notices = response.data;
      console.log(response.data.sort())
    }, function error(response) {
      alert('Error Occured, Please try again...!');
    })

  }]);
</script>
</body>
</html>
